.input {
  display: flex;
  font-size: 16px;
  color: #9CA8B7;
  padding: 21px 75px;
  width:100%;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 4px;
}

.validInput {
  border: 3px solid green;
}
.invalidInput {
  border: 3px solid red;
}
