.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 180px;
  background-color: rgb(62, 169, 245);
  font-family: Gotham SSm A, Gotham SSm B, Halvetica, sans-serif;
  color: white;
}

img {
}

.onDiv {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight:bolder ;
  font-size: 18px;
  text-decoration: none ;
}
