.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(62, 169, 245);
}

.header {
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  text-align: center;
}

.header2{
  color: white;
  font-size: 20px;
  text-align: center;
}
