.form {
  max-width: 600px;
  width: 100%;
}
.submit {
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  height: 64px;
  width: 100%;
  border: 0;
  font-weight: bolder;
  color: white;
  background-color: rgb(40, 210, 208);
}
